<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cactus City เกร็ดความรู้3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<div class="col container mt-3 h3">
  <h2 style="font-size:170%;">Cactus City</h2>
  <a href="{% url 'home' %}" type="button" class="btn btn-outline-success">Home</a>
  <a href="{% url 'page1' %}" type="button" class="btn btn-outline-success">เกร็ดความรู้</a>
  <a href="{% url 'page5' %}" type="button" class="btn btn-outline-success">เลือกซื้อ</a>
  <a href="{% url 'login' %}" type="button" class="btn btn-light">Logout</a>
</div>

<div class="container mt-3">
  <h2>4 Tips เลือกสายพันธุ์กระบองเพชรให้เหมาะกับตัวเอง</h2>          

</div>

<div class="container-fluid mt-3">
  <p></p>

  <b style="font-size:120%;">1. สถานที่ปลูก</b>
  <p style="font-size:100%;text-align:left">- บริเวณระเบียง มักเป็นส่วนที่ได้รับแสงแดดร่ำไร ซึ่งอาจจะเลือกปลูก แอสโตรไฟตัม และ ปราสาทนางฟ้า ซึ่งเป็นสายพันธุ์ที่ไม่ชอบแดดจัด แต่ควรได้รับแสงแดดในช่วงเช้า</p>
  <p style="font-size:100%;text-align:left">- ภายในอาคารหรือโต๊ะทำงาน ควรเลือกจุดที่แสงส่องผ่านอย่างน้อย 4-6 ชั่วโมง 
    เช่น บริเวณกระจกของอาคาร เพราะกระบองเพชรเป็นต้นไม้ที่ต้องการแสงแดด โดยส่วนใหญ่นิยมปลูก ยิมโนคาไลเซียม ซึ่งดูแลง่าย</p>
  <p style="font-size:100%;text-align:left">ทั้งนี้หากเป็นบริเวณที่ไม่มีแสงแดดเลย ไม่แนะนำให้ปลูก เนื่องจากสถานที่ไม่เหมาะ 
    และส่งผลทำให้กระบองเพชรตายได้</p>
  <p style="font-size:100%;text-align:left">- บริเวณกลางแจ้ง ที่ถูกใจเหล่ากระบองเพชรกันอย่างแน่นอน แต่ทั้งนี้ก็ต้องดูสภาพแวดล้อมเป็นหลัก 
    หากโดนแดดตลอดทั้งวัน ช่วงเช้าและบ่าย ควรรดน้ำ 2-3 วันครั้ง หรือดูดินในกระถางเป็นหลัก เมื่อดินแห้งก็รด</p>
  <p style="font-size:100%;text-align:left">หากทำเป็นโรงเรือนได้ก็จะดี เพื่อป้องกันช่วงฝนตก เพราะเราสามารถกำหนดปริมาณการรดน้ำไม่ให้มากหรือน้อยจนเกินไปได้นั้นเอง 
    โดยสกุลที่ชอบแสงแดดจะมี แมมมิลาเรีย เอคิโนแคคตัส และโอพันเทีย เป็นต้น</p>     

  <b style="font-size:120%;">2. เวลาในการดูแล</b>
  <p style="font-size:100%;text-align:left">ต้นไม้ทุกต้นย่อมต้องการการดูแลใส่ใจ กระบองเพชรก็เช่นกัน อีกทั้งยังต้องการน้ำเหมือนต้นไม้อื่นๆ เพียงแค่มาก-น้อยแตกต่างกัน
     ซึ่งหากกระบองเพชรได้รับแต่แสงแดดโดยที่ไม่ได้รับน้ำที่เหมาะสม ก็ส่งผลทำให้เหี่ยวและตายได้ หรือหากรดน้ำมากเกินไปก็อาจเน่าได้เช่นกัน</p>
  <p style="font-size:100%;text-align:left">โดยกระบองเพชรส่วนใหญ่มักจะรดน้ำสัปดาห์ละ 1 ครั้ง หรือ รดเมื่อดินแห้ง แต่พันธุ์ที่ต้องระวังเป็นพิเศษคือสกุล 
    แมมมิลาเรีย ควรระวังเรื่องความชื้นอย่าปล่อยให้ดินชื้นหรือเปียกติดต่อกันหลายวันเพราะอาจทำให้เน่าตายได้</p>
  
  <div class="text-center">
    {% load static %}
    <img src="{% static 'cactus_3.jpeg' %}" alt="Cactus_3" width="300" height="400">
  </div>
  
  <b style="font-size:120%;">3. ลักษณะที่ชื่นชอบ</b>
  <p style="font-size:100%;text-align:left">แต่ละสายพันธุ์ย่อมมีรูปลักษณ์และจุดเด่นที่แตกต่างกันออกไป 
    ซึ่งการเลือกซื้อก็มักจะเน้นในเรื่องของความชอบเป็นหลัก อาทิ</p>
  <p style="font-size:100%;text-align:left">- เน้นดอกสวยงาม ที่นิยมปลูกกันจะเป็น โลบิเวีย อิชินอป ซึ่งดอกนั้นก็มีหลากหลายโทนสีไม่ว่าจะเป็น 
    สีขาว ชมพู เหลือง ส้ม แดง เป็นต้น</p>
  <p style="font-size:100%;text-align:left">- เน้นความน่ารัก Infinity Design ขอยกให้สกุลแมมมิลลาเรียเลย 
    ซึ่งแต่ละพันธุ์ก็มีความน่ารักที่แตกต่างกันออกไป ไม่ว่าจะเป็น แมมมิลลาเรียขนนก, แมมมิลลาเรียนกฮูก, แมมมิลลาเรียหนามแดง เป็นต้น</p>
  <p style="font-size:100%;text-align:left">- เน้นรูปทรงที่เป็นเอกลักษณ์ สกุลแอสโตรไฟตัมก็น่าสนใจไม่น้อย ลักษณะเด่นจะหัวกลม ไม่มีหนาม และบางพันธุ์ก็เด่นในเรื่องของลวดลาย 
    หรือจะเป็นโอพันเทียก็น่ารักไปอีกแบบ ด้วยรูปทรงคล้ายหูกระต่าย จนทำให้ส่วนใหญ่เรียกกันว่าต้นหูกระต่ายนั้นเอง</p>

  <div class="text-center">
    {% load static %}
    <img src="{% static 'cactus_4.jpeg' %}" alt="Cactus_4" width="400" height="350">
  </div>

  <b style="font-size:120%;">4. จุดประสงค์ในการเลี้ยง</b>
  <p style="font-size:100%;text-align:left">ส่วนใหญ่แล้วมักเลี้ยงเพื่อความสวยงาม โดยเน้นราคาที่ไม่สูงมาก ตั้งแต่หลักสิบไปจนถึงหลักร้อย 
    ซึ่งมีหลากหลายสายพันธุ์ให้ได้เลือกซื้อกัน ขึ้นอยู่กับความชื่นชอบว่าต้องการต้นที่เน้นดอก หรือเน้นความน่ารักอย่างที่ได้กล่าวไว้ในข้างต้น</p>
  <p style="font-size:100%;text-align:left">แต่หากเน้นสะสมหรือทำกำไร ส่วนใหญ่จะมีราคาค่อนข้างสูง เนื่องจากมีสีสันหรือรูปทรงที่เป็นเอกลักษณ์ไม่เหมือนใคร 
    หากอนาคตเลี้ยงได้สวยหรือเข้าเกณฑ์ก็จะยิ่งมีราคาที่สูงมากขึ้น สามารถทำกำไรได้มาก โดยพันธุ์ที่นิยมกันจะเป็น ยิมโนด่าง แอสโตรไฟตัมวี เป็นต้นป</p>


  <p style="font-size:100%;text-align:right">ขอขอบคุณข้อมูลจากเว็บไซต์ infinitydesign</p>  
</div>

</body>
</html>
